*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width:100%;
    text-align: center;
    background-color: rgb(248, 15, 15);
    margin-top: 0.5%;
    padding:0.5%;
}
.header h2{
    /* width: 100%; */
    font-weight: bold;
    font-family:sans-serif;
    /* font-size: 100%; */
    color: aliceblue;
}
/* upper-btn-box */
.upper-btn-box{
    width:100%;
    height:100px;
    /* border: 2px solid; */
    display:flex;
    padding:30px;
}
.upper-btn-box .left-box{
    width:50%;
    height:100%;
    /* border: 2px solid red; */
}
.upper-btn-box .right-box{
    width:50%;
    height:100%;
    /* display:flex; */
    /* border: 2px solid green; */
}
.upper-btn-box .left-box button,.upper-btn-box .right-box button{
    border: none;
    outline: none;
    background-color: hsl(213, 75%, 50%);
    padding:1%;
    font-size: 18px;
    color:aliceblue;
    font-family:sans-serif;
    margin:0px 10px;
}
.upper-btn-box .right-box i{
    font-size: 23px;
    color:#4286F5;
    padding:1px;
}
.upper-btn-box .right-box input{
    width:50%;
    padding:5px;
    outline: none;
    font-size: 18px;
    font-family:sans-serif;
    /* font-weight:bold; */
    /* border:none;
    border-bottom:3px solid #4286F5; */
}
.table-box{
    width:100%;
    padding:30px;
}
.table-box table{
    width: 100%;
    /* border: 1px solid #ccc; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
}
.table-box table tr th{
    border-right: 1px solid #ccc;
    padding:30px 0px 0px;
    font-family:sans-serif;
    border-bottom:1px solid #ccc;
}
.table-box table tr td{
    border-right: 1px solid #ccc;
    padding:10px 0px 0px;
    text-align: center;
    font-family:sans-serif;
    border-bottom:1px solid #ccc;
}
.table-box table tr td button{
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    padding:1%;
    font-size: 18px;
    color:aliceblue;
    font-family:sans-serif;
    margin:5px 10px;
}

/* start input modal for taking task info Id Name etc */

.modal{
    width:0%;
    height:auto;
    position: fixed;
    top:50%;
    left:50%;
    border:2px solid;
    transform:translate(-50%,-50%);
    border-top:20px groove #4286F5;
    opacity:0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.modal.active{
    opacity:1;
    z-index: 1;
    width: 30%;

}
.modal .close-icon{
    position: absolute;
    right:-20px;
    top:-38px;
    font-size: 25px;
    padding:10px;
    color:#EE534F;
}

.modal .right-modal{
    height:100%;
    width:100%;
    border-left:5px groove #4286F5;
    background-color: #f2f2f2;
    padding:3%;
}
.modal .right-modal .input-box{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.modal .right-modal .input-box label{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
    padding:10px;
}

.modal .right-modal .input-box input,select{
    width:70%;
    margin:7px 0px;
    padding:10px;
    outline:none;
}
.modal .right-modal .submit button{
    border: none;
    outline: none;
    background-color: rgb(75, 48, 227);
    padding:1%;
    font-size: 18px;
    color:aliceblue;
    font-family:sans-serif;
    margin:10px;
    width:50%;
    margin-left: 25%;
    margin-right: 20%;
}

/* subtask modal style *******************************************************************************/
.submodal{
    width:0%;
    height:auto;
    position: fixed;
    top:50%;
    left:50%;
    border:2px solid;
    transform:translate(-50%,-50%);
    border-top:20px groove #4286F5;
    opacity:0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.submodal.active{
    opacity:1;
    z-index: 1;
    width: 30%;

}
.submodal .subclose-icon{
    position: absolute;
    right:-20px;
    top:-38px;
    font-size: 25px;
    padding:10px;
    color:#EE534F;
}

.submodal .subright-modal{
    height:100%;
    width:100%;
    border-left:5px groove #4286F5;
    background-color: #f2f2f2;
    padding:3%;
}
.submodal .subright-modal .subinput-box{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.submodal .subright-modal .subinput-box label{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
    padding:10px;
}

.submodal .subright-modal .subinput-box input,select{
    width:70%;
    margin:7px 0px;
    padding:10px;
    outline:none;
}
.submodal .subright-modal .subsubmit button{
    border: none;
    outline: none;
    background-color: rgb(75, 48, 227);
    padding:1%;
    font-size: 18px;
    color:aliceblue;
    font-family:sans-serif;
    margin:10px;
    width:50%;
    margin-left: 25%;
    margin-right: 20%;
}




